/*Near U - style.css*/

body{
  background-color: #111;
}

header{
  height: 5em;
  background-color: yellow;
  margin-bottom: .25em;
}

.container{
  max-width: 500px;
  margin: 0 auto;
}

.section{
  min-height: 200px;
  width: 100%;
  margin-bottom: 10px;
  clear: both;
}

.section-small{
  min-height: 150px;
  width: 50%;
  float: left;
}

.section-small + .section-small{
  width: 50%;
  float: right;
  clear: right;
}

#city{
  background-color: white;
}

#time{
  background-color:blue;
}

#loc{
  background-color: red;
}

#weather{
  background-color: green;
}

#map{
}

#restaurant{
  background-color: pink;
}
